{% extends 'base/main.html' %}
{% block content%}
<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Back</a>
</div>

<div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}
        {% comment %} {{form|crispy}}
         {% endcomment %}
        {{form.as_p}}
        {% comment %} {{form}}  we can directly use the keyword form to access the model we created {% endcomment %}
        <input class="button" type = "submit" value="Submit">
    
    </form> 
</div>

{% endblock content %}